<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>AMS | Attendance Management System</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/app-assets/images/logo/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/static/app-assets/images/logo/favicon-32x32.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/static/app-assets/images/logo/favicon-16x16.png">
    <link rel="manifest" href="/static/app-assets/images/logo/site.webmanifest">
    <link rel="mask-icon" href="/static/app-assets/images/logo/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="/static/app-assets/css/my-google-fonts.css" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/components.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
    <link rel="stylesheet" type="text/css" href="/static/app-assets/css/core/colors/palette-gradient.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
    <!-- END: Custom CSS-->

    {% block stylesheets %}{% endblock stylesheets %}

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns menu-collapsed fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

    <!-- NavBar -->
    {% include 'includes/navigation.html' %}
    <!-- END: NavBar-->

    <!-- SideBar -->
    {% include 'includes/sidebar.html' %}
    <!-- END: SideBar-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-body">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    {% include 'includes/footer.html' %}
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="/static/app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/static/app-assets/js/core/app-menu.js"></script>
    <script src="/static/app-assets/js/core/app.js"></script>
    <script src="/static/app-assets/js/scripts/customizer.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: initial avatar-->
    <script src="/static/assets/js/initial.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.avatar').initial();
        })
    </script>
    <!-- END: initial avatar-->

    <!-- BEGIN: Page JS-->
    {% block javascripts %}{% endblock javascripts %}
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>