<!-- BEGIN: Main Menu-->
<!-- main menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
	<!-- main menu header-->
	<!-- / main menu header-->
	<!-- main menu content-->
	<div class="main-menu-content">
		<ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
			
			<li class=" navigation-header"><span>General</span><i class=" feather icon-minus" data-toggle="tooltip" data-placement="right" data-original-title="General"></i></li>
			<li class=" nav-item"><a href="/dashboard"><i class="feather icon-home"></i><span class="menu-title" data-i18n="">Dashboard</span></a></li>
			<li class=" nav-item"><a href="/roster/{{ today_date }}"><i class="feather icon-calendar"></i><span class="menu-title" data-i18n="">Roster</span></a></li>

			<li class=" navigation-header"><span>Masters</span><i class=" feather icon-minus" data-toggle="tooltip" data-placement="right" data-original-title="Masters"></i></li>
			<li class=" nav-item"><a href="/department"><i class="fa fa-microchip"></i><span class="menu-title" data-i18n="">Department</span></a></li>
			<li class=" nav-item"><a href="/function"><i class="fa fa-steam"></i><span class="menu-title" data-i18n="">Function</span></a></li>
			<li class=" nav-item"><a href="/plant"><i class="fa fa-leaf"></i><span class="menu-title" data-i18n="">Plant</span></a></li>
			<li class=" nav-item"><a href="/branch"><i class="fa fa-building-o"></i><span class="menu-title" data-i18n="">Branch</span></a></li>
			<li class=" nav-item"><a href="/project"><i class="feather icon-book"></i><span class="menu-title" data-i18n="">Project</span></a></li>
			<li class=" nav-item"><a href="/shift"><i class="feather icon-clock"></i><span class="menu-title" data-i18n="">Shift</span></a></li>
			<li class=" nav-item"><a href="/employee"><i class="feather icon-users"></i><span class="menu-title" data-i18n="">Employees</span></a></li>

			<li class=" navigation-header"><span>Tools</span><i class=" feather icon-minus" data-toggle="tooltip" data-placement="right" data-original-title="Tools"></i></li>
			<li class=" nav-item"><a href="/import-employees"><i class="fa fa-exchange"></i><span class="menu-title" data-i18n="">Import Employees</span></a></li>
		</ul>
	</div>
	<!-- /main menu content-->
	<!-- main menu footer-->
	<!-- main menu footer-->
</div>
<!-- / main menu-->
<!-- END: Main Menu-->